<div class = 'text-center' matDialogTitle>
  Add a New Manager to the System
</div>

<mat-dialog-content class = 'text-center'>
  <form #loginForm = 'ngForm' (ngSubmit) = 'addNewManager()'>

    <mat-form-field appearance = 'outline' class = 'w-50'>
      <mat-label>Email</mat-label>
      <input [(ngModel)] = 'uEmail' email
             matInput
             name = 'email'
             placeholder = 'abc@def.com'
             required
             type = 'email'>
    </mat-form-field>
    <br>
    <mat-form-field appearance = 'outline' class = 'w-50'>
      <mat-label>Password</mat-label>
      <input [(ngModel)] = 'uPassword' matInput
             maxlength = '15'
             minlength = '6'
             name = 'password'
             pattern = '^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,15}$'
             placeholder = '******'
             required
             type = 'password'>
    </mat-form-field>
    <br>
    <mat-hint><b>Password</b> must have at least 1 <b>Number, lower case and upper case. Min: 6 || Max: 15</b>
    </mat-hint>
    <br>
    <mat-form-field appearance = 'outline' class = 'w-50'>
      <mat-label>Name</mat-label>
      <input [(ngModel)] = 'uName' matInput
             name = 'name'
             placeholder = 'Mike'
             required
             type = 'text'>
    </mat-form-field>
    <br>

    <div>
      <button [disabled] = 'loginForm.invalid'
              color = 'primary'
              mat-raised-button
              style = 'width: 12vw;'
              type = 'submit'>
        Add New Manager
      </button>
      &nbsp;
      <button (click) = 'cancel()'
              color = 'warn'
              mat-raised-button
              style = 'width: 12vw;'
              type = 'button'>
        Cancel
      </button>
    </div>
  </form>
</mat-dialog-content>

