<body>
<div class = 'card-container'>

  <div class = 'image-div'>
    <img alt = 'Company Logo'
         src = 'assets/images/signup-bk.jpg'>
  </div>

  <div class = 'form-div'>
    <h1><b>Sign Up</b></h1>
    <br>
    <form #loginForm = 'ngForm' (ngSubmit) = 'signUpWithEmail()'>
      <mat-form-field appearance = 'fill' class = 'w-100'>
        <mat-label>Email</mat-label>
        <input [(ngModel)] = 'uEmail' email
               matInput
               name = 'email'
               placeholder = 'abc@def.com'
               required
               type = 'email'>
      </mat-form-field>
      <br>
      <mat-form-field appearance = 'fill' class = 'w-100'>
        <mat-label>Password</mat-label>
        <input [(ngModel)] = 'uPassword' matInput
               maxlength = '15'
               minlength = '6'
               name = 'password'
               pattern = '^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,15}$'
               placeholder = '******'
               required
               type = 'password'>
      </mat-form-field>
      <br>
      <mat-hint><b>Password</b> must have at least <br><b>1 Number <br>1 lower case <br>1 upper case <br>Min: 6 || Max:
                                                          15</b>
      </mat-hint>
      <br>
      <br>
      <mat-form-field appearance = 'fill' class = 'w-100'>
        <mat-label>Name</mat-label>
        <input [(ngModel)] = 'uName' matInput
               name = 'name'
               placeholder = 'Mike'
               required
               type = 'text'>
      </mat-form-field>
      <br>

    </form>
    <div class = 'text-center w-100'>
      <mat-button-toggle-group #group = 'matButtonToggleGroup'
                               [(ngModel)] = 'uType'
                               appearance = 'standard'>
        <mat-button-toggle [class.selected-customer] = "uType === 'customer'" aria-label = 'Text align left'
                           value = 'customer'>
          <mat-label>Customer</mat-label>
        </mat-button-toggle>
        <!--        <mat-button-toggle [class.selected-manager] = "uType === 'manager'" aria-label = 'Text align center'-->
        <!--                           value = 'manager'>-->
        <!--          <mat-label>Manager</mat-label>-->
        <!--        </mat-button-toggle>-->
        <mat-button-toggle [class.selected-admin] = "uType === 'admin'" aria-label = 'Text align right'
                           value = 'admin'>
          <mat-label>Admin</mat-label>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <br>
    <br>
    <button (click) = 'signUpWithEmail()'
            [disabled] = 'loginForm.invalid'
            class = 'submit-button'
            color = 'primary'
            mat-raised-button
            type = 'button'>
      SIGN UP
    </button>
    <br>
    <br>
    <button class = 'submit-button'
            color = 'warn'
            mat-raised-button
            routerLink = '/login'
    >
      BACK
    </button>
  </div>

</div>
</body>
