<div class = 'text-center' style = 'margin-top: 20vh;'>
  <img alt = 'Company Logo'
       class = 'company-logo'
       src = 'assets/logo/shoppers-logo-black.jpg'>

  <br>
  <br>
  <form #loginForm = 'ngForm' (ngSubmit) = 'signUpWithEmail()'>

    <mat-form-field appearance = 'outline' class = 'w-25'>
      <mat-label>Email</mat-label>
      <input [(ngModel)] = 'uEmail' email
             matInput
             name = 'email'
             placeholder = 'abc@def.com'
             required
             type = 'email'>
    </mat-form-field>
    <br>
    <mat-form-field appearance = 'outline' class = 'w-25'>
      <mat-label>Password</mat-label>
      <input [(ngModel)] = 'uPassword' matInput
             minlength = '6'
             name = 'password'
             placeholder = '******'
             required
             type = 'password'>
    </mat-form-field>
    <br>
    <mat-form-field appearance = 'outline' class = 'w-25'>
      <mat-label>Name</mat-label>
      <input [(ngModel)] = 'uName' matInput
             name = 'name'
             placeholder = 'Mike'
             required
             type = 'text'>
    </mat-form-field>
    <br>

    <div>
      <button color = 'primary'
              mat-raised-button
              style = 'width: 12vw;'
              type = 'submit'>
        Signup
      </button>
      &nbsp;
      <button color = 'warn'
              mat-raised-button
              routerLink = '/login'
              style = 'width: 12vw;'
              type = 'button'>
        Back
      </button>
    </div>
  </form>
  <br>
  <br>
  <mat-button-toggle-group #group = 'matButtonToggleGroup' [(ngModel)] = 'uType'
                           appearance = 'legacy'>
    <mat-button-toggle aria-label = 'Text align left' style = 'width: 5vw;'
                       value = 'customer'>
      <mat-label>Customer</mat-label>
    </mat-button-toggle>
    <mat-button-toggle aria-label = 'Text align center' style = 'width: 5vw;'
                       value = 'manager'>
      <mat-label>Manager</mat-label>
    </mat-button-toggle>
    <mat-button-toggle aria-label = 'Text align right' style = 'width: 5vw;'
                       value = 'admin'>
      <mat-label>Admin</mat-label>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
