<!--suppress ALL -->
<mat-toolbar>
  <mat-toolbar-row>
    <img alt = 'Company Logo'
         class = 'company-logo-toolbar'
         routerLink = 'home'
         src = 'assets/logo/shoppers-logo-black.jpg'>
    &nbsp;
    <button (click) = 'selectStore()' mat-button>
      {{user.preferedStore ? store?.sName : "Select Store"}}
    </button>
    &nbsp;
    <button color = 'primary' mat-button>Shopping List</button>

    <span class = 'spacer'></span>

    <button (click) = 'logOut()' color = 'warn' mat-raised-button>Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class = 'text-center w-75' style = 'margin-left: 12.5vw;'>
  <div *ngIf = 'user?.preferedStore'>
    <app-store *ngIf = 'store' [store] = 'this.getStore()'></app-store>
  </div>

  <div *ngIf = '!user?.preferedStore' style = 'margin-top: 40vh; cursor: pointer'>
    <a (click) = 'selectStore()'>Pick a prefferd store!</a>
  </div>

</div>
