<mat-toolbar>
  <mat-toolbar-row>
    <img alt = 'Company Logo'
         class = 'company-logo-toolbar'
         routerLink = 'stores'
         src = 'assets/logo/shoppers-logo-black.jpg'>
    &nbsp;
    <button mat-button routerLink = 'stores'>Stores</button>
    &nbsp;
    <span class = 'spacer'></span>
    <button (click) = 'this.userService.logOut()'
            color = 'warn' mat-raised-button>Log Out
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div class = 'w-75 text-center' style = 'margin-left: 12.5vw;'>
  <router-outlet></router-outlet>
</div>
