<!--suppress ALL -->

<body>
<div class = 'card-container'>
  <div class = 'image-div'>
    <img alt = 'some image'
         src = 'assets/images/login-bk.jpg'>
  </div>

  <div class = 'form-div'>
    <h1><b>Login</b></h1>
    <form #loginForm = 'ngForm' (ngSubmit) = 'loginWithEmail()'>
      <mat-form-field appearance = 'fill' class = 'w-100'>
        <mat-label>Email</mat-label>
        <input [(ngModel)] = 'uEmail' email
               matInput
               name = 'email'
               placeholder = 'abc@def.com'
               required
               type = 'email'>
      </mat-form-field>
      <br>
      <mat-form-field appearance = 'fill' class = 'w-100'>
        <mat-label>Password</mat-label>
        <input [(ngModel)] = 'uPassword' matInput
               minlength = '6'
               name = 'password'
               placeholder = '******'
               required
               type = 'password'>
      </mat-form-field>
      <br>
      <br>
      <br>
      <button color = 'primary'
              mat-raised-button
              class = 'submit-button'
              type = 'submit'>
        Login
      </button>
      <br>
      <br>
      <button color = 'accent'
              mat-raised-button
              routerLink = '/signup'
              class = 'submit-button'>
        Sign Up
      </button>
    </form>
  </div>
</div>
</body>
