<div class = 'text-center container-lg' style = 'margin-top: 5vh;'>
  <mat-form-field appearance = 'outline'>
    <mat-label>Country</mat-label>
    <input (keypress) = 'keyPress($event, 1)' (keyup) = 'filter(1)'
           [(ngModel)] = 'country'
           matInput
           placeholder = 'Canada'
           type = 'text'>
    <mat-icon (click) = 'filter(1)' class = 'search-icon' matSuffix>search</mat-icon>
  </mat-form-field>
  ||
  <mat-form-field appearance = 'outline'>
    <mat-label>Province</mat-label>
    <input (keypress) = 'keyPress($event, 2)' (keyup) = 'filter(2)'
           [(ngModel)] = 'province'
           matInput
           placeholder = 'ON'
           type = 'text'>
    <mat-icon (click) = 'filter(2)' class = 'search-icon' matSuffix>search</mat-icon>
  </mat-form-field>
  ||
  <mat-form-field appearance = 'outline'>
    <mat-label>City</mat-label>
    <input (keypress) = 'keyPress($event, 3)' (keyup) = 'filter(3)'
           [(ngModel)] = 'city'
           matInput
           placeholder = 'Toronto'
           type = 'text'>
    <mat-icon (click) = 'filter(3)' class = 'search-icon' matSuffix>search</mat-icon>
  </mat-form-field>
  ||
  <mat-form-field appearance = 'outline'>
    <mat-label>Postal Code</mat-label>
    <input (keypress) = 'keyPress($event, 4)' (keyup) = 'filter(4)'
           [(ngModel)] = 'postalCode'
           matInput
           placeholder = 'A1A1A1'
           type = 'text'>
    <mat-icon (click) = 'filter(4)' class = 'search-icon' matSuffix>search</mat-icon>
  </mat-form-field>
  <hr>
  <div class = 'text-center'>
    <mat-card *ngFor = 'let store of stores' class = 'mat-elevation-z4' style = 'margin-bottom: 8px;'>
      <mat-card-header>
        <div matCardAvatar>
          <mat-icon [color] = 'store.sManagerId?.length > 0 ? "accent" : "warn"'>storefront</mat-icon>
        </div>
        <mat-card-title>{{store.sName}}</mat-card-title>
        <mat-card-subtitle>{{store.sStreet + ", " + store.sCity + ", " + store.sProvince + ", " + store.sPostalCode}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class = 'text-left'>
        <mat-form-field appearance = 'outline' class = 'w-25'>
          <mat-label>Store Manager</mat-label>
          <mat-select (selectionChange) = 'changeStoreManager(store)'
                      [(ngModel)] = 'store.sManagerId'
                      name = 'manager'
                      placeholder = 'Select a store manager'>
            <mat-option *ngFor = 'let user of users' [value] = 'user.uId'>{{user.uName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
